<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>
    <!-- STICKY MENU -->
    {{> menu}}

    <!-- MOBILE MENU -->
    {{> mobile_menu}}
    
    <div id="fullpage">
        <!-- BLOCK ONE -->
        {{> block_one }}

        <!-- BLOCK TWO -->
        {{> block_two }}

        <!-- BLOCK THREE -->
        {{> block_three }}

        <!-- BLOCK FOUR -->
        {{> block_four }}

        <!-- BLOCK FIVE -->
        {{> block_five }}

        <!-- BLOCK SIX -->
        {{> block_six }}

        <!-- BLOCK CONTACTS -->
        {{> block_contacts }}
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="assets/plugins/fullpage.js"></script>
    <script src="https://swiperjs.com/package/swiper-bundle.min.js"></script>
    <script src="assets/js/app.min.js"></script>

</body>
</html>
