<section id="block_three" class="section block block__three">
    <div class="block__threeInner">
        <div class="block__threeInnerMobileCode">
            <span>Au</span><sup>79</sup>
        </div>
        <h2 class="block__threeInnerHeading">Скупка серебра</h2>
        <p class="block__threeInnerDescription">Ювелир с помощью современного оборудования максимально быстро произведут квалифицированную экспертизу и оценку металла, что позволит вам принять решение и сдать золото в скупку дорого.  </p>
        <button class="showPrice">Смотреть цены</button>
        <p class="block__threeInnerMobileText">Позвоните нам для подробной консультации</p>
        <a class="menu__phone" href="tel:+792840555999">+7(928)40-55-999</a>
    </div>
    <div class="block__threePriceAtRound">
        <div class="block__threePriceAtRoundOne">
            <span class="block__threePriceAtRoundOneFor">
                Для физических лиц наличный расчет
            </span>
            <div class="priceAtRound priceAtRound--grey">
                <div class="priceAtRound__price">
                    <div class="priceAtRound__priceNumber">40 ₽</div>
                    <div class="priceAtRound__priceDescription">Покупка Серебро цена за грамм</div>
                </div>
                <div class="priceAtRound__content">
                    <div class="priceAtRound__contentNumber">925</div>
                    <span class="priceAtRound__contentDescription">проба</span>
                </div>
            </div>
        </div>
        <div class="block__threePriceAtRoundTwo">
            <span class="block__threePriceAtRoundTwoFor">
                Для физических лиц наличный расчет
            </span>
            <div class="priceAtRound priceAtRound--grey">
                <div class="priceAtRound__price">
                    <div class="priceAtRound__priceNumber">40 ₽</div>
                    <div class="priceAtRound__priceDescription">Покупка Серебро цена за грамм</div>
                </div>
                <div class="priceAtRound__content">
                    <div class="priceAtRound__contentNumber">925</div>
                    <span class="priceAtRound__contentDescription">проба</span>
                </div>
            </div>
        </div>
        <span class="block__threePriceAtRoundLine"></span>
        <div class="block__threePriceAtRoundThree">
            <span class="block__threePriceAtRoundThreeFor">
                Для юридических лиц безналичный расчет
            </span>
            <div class="priceAtRound priceAtRound--grey">
                <div class="priceAtRound__price">
                    <div class="priceAtRound__priceNumber">40 ₽</div>
                    <div class="priceAtRound__priceDescription">Покупка Серебро цена за грамм</div>
                </div>
                <div class="priceAtRound__content">
                    <div class="priceAtRound__contentNumber">925</div>
                    <span class="priceAtRound__contentDescription">проба</span>
                </div>
            </div>
        </div>
        {{> arrows }}
    </div>
    <div class="block__three popup">
        <div class="popup__heading">
            <h3 class="popup__text">Выберите пробу</h3>
        </div>
        <div class="popup__pricesInput">
            <select class="popup__pricesInputPrice">
                <option selected disabled>Выберите пробу</option>
                <option value="250">250</option>
                <option value="999">999</option>
            </select>
        </div>
        <table class="popup__prices">
            <tbody class="popup__pricesItem n250">
                <tr>
                <td>Наличными</td>
                <td>34 ₽</td>
                </tr>
                <tr>
                <td>Наличными для Ломбардов</td>
                <td>34 ₽</td>
                </tr>
                <tr>
                <td>Безналично для организаций</td>
                <td>35 ₽</td>
                </tr>
            </tbody>
            <tbody class="popup__pricesItem n999">
              <tr>
              <td>Наличными</td>
              <td>334 ₽</td>
              </tr>
              <tr>
              <td>Наличными для Ломбардов</td>
              <td>334 ₽</td>
              </tr>
              <tr>
              <td>Безналично для организаций</td>
              <td>345 ₽</td>
              </tr>
          </tbody>
        </table>
    </div>
</section>
