<section id="block_six" class="section block block__six">
    <h2 class="block__sixReviewsHeading">Нам доверяют</h2>
    <div class="block__sixReviews swiper-wrapper">
        <div class="block__sixReview swiper-slide">
            <img src="assets/img/block_six/avatar.svg" alt="" class="block__sixReviewAvatar">
            <div class="block__sixReviewContext">
                <span class="block__sixReviewAuthor">Станислав С.</span>
                <p class="block__sixReviewText">Curabitur ac eros lobortis, iaculis mi id, ullamcorper ex. Maecenas vehicula ultrices dui non vulputate. Donec pharetra, odio non faucibus blandit, enim nibh placerat mi, eget efficitur lectus nunc vitae quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            
        </div>
        <div class="block__sixReview swiper-slide">
            <img src="assets/img/block_six/avatar.svg" alt="" class="block__sixReviewAvatar">
            <div class="block__sixReviewContext">
                <span class="block__sixReviewAuthor">Гандурас С.</span>
                <p class="block__sixReviewText">Curabitur ac eros lobortis, iaculis mi id, ullamcorper ex. Maecenas vehicula ultrices dui non vulputate. Donec pharetra, odio non faucibus blandit, enim nibh placerat mi, eget efficitur lectus nunc vitae quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
        </div>
        <div class="block__sixReview swiper-slide">
            <img src="assets/img/block_six/avatar.svg" alt="" class="block__sixReviewAvatar">
            <div class="block__sixReviewContext">
                <span class="block__sixReviewAuthor">Астрислас С.</span>
                <p class="block__sixReviewText">Curabitur ac eros lobortis, iaculis mi id, ullamcorper ex. Maecenas vehicula ultrices dui non vulputate. Donec pharetra, odio non faucibus blandit, enim nibh placerat mi, eget efficitur lectus nunc vitae quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
        </div>
    </div>
    {{> arrows }}
    <div class="block__sixProgressive">
        <div class="block__sixProgress">
            <img width="52.5" height="70" src="assets/img/block_six/progress_medal_icon.svg" alt="" class="block__sixProgressiveIconOne">
            <div class="block__sixProgressiveReviewContext">
                <span class="block__sixProgressiveHeading">Наша принципиальная позиция</span>
                <p class="block__sixProgressiveText">Предлагать своим клиентам только качественные, профессиональные и выгодные услуги. Мы высоко ценим свою репутацию, поэтому работаем профессионально и законно, гарантируя Вам конфиденциальность и безопасность сделки.</p>
            </div>
        </div>
        <div class="block__sixProgress">
            <img width="70" height="61.92" src="assets/img/block_six/progress_handshake_icon.svg" alt="" class="block__sixProgressiveIconTwo">
            <div class="block__sixProgressiveReviewContext">
                <span class="block__sixProgressiveHeading">Наша деятельность взаимовыгодна</span>
                <p class="block__sixProgressiveText">Мы получаем материал для переработки и дальнейшего изготовления новых ювелирных изделий, а вы получаете возможность сдать золото выгодно, сдать серебро выгодно и пополнить свой бюджет. Самый быстрый способ получить деньги - продать золото в Краснодаре.</p>
            </div>
        </div>
        <div class="block__sixProgress">
            <img width="70" height="70" src="assets/img/block_six/progress_clock_icon.svg" alt="" class="block__sixProgressiveIconThree">
            <div class="block__sixProgressiveReviewContext">
                <span class="block__sixProgressiveHeading">Мы не отнимем у вас время</span>
                <p class="block__sixProgressiveText">У нас не бывает длинных очередей, неправильной оценки или отсутствия денег. Работа поставлена так, что вся процедура оформления сделки по скупке золота в Краснодаре и скупке серебра в Краснодаре отнимает минимум времени.</p>
            </div>
        </div>
    </div>
</section>
