<section id="block_one" class="section block block__one">
    <div class="block__onePrices">
        <div class="block__onePriceAtRound">
            <div class="priceAtRound priceAtRound--gold swiper-slide">
                <div class="priceAtRound__price">
                    <div class="priceAtRound__priceNumber">2460 ₽</div>
                    <div class="priceAtRound__priceDescription">Покупка Золото цена за грамм</div>
                </div>
                <div class="priceAtRound__content">
                    <div class="priceAtRound__contentNumber">925</div>
                    <span class="priceAtRound__contentDescription">проба</span>
                </div>
            </div>
            <div class="priceAtRound priceAtRound--grey swiper-slide">
                <div class="priceAtRound__price">
                    <div class="priceAtRound__priceNumber">40 ₽</div>
                    <div class="priceAtRound__priceDescription">Покупка Серебро цена за грамм</div>
                </div>
                <div class="priceAtRound__content">
                    <span class="priceAtRound__contentNumber">925</span>
                    <span class="priceAtRound__contentDescription">проба</span>
                </div>
            </div>
            
        </div>
        
    </div>
    {{> arrows }}
    <div class="block__oneInner">
        <h1 class="block__oneInnerHeading">VARDOGOLD</h1>
        <p class="block__oneInnerText">Выгодная скупка золота, скупка серебра, скупка ювелирных украшений в Краснодаре. Операции с драгоценными металлами. Специальные условия и цена для Ломбардов.</p>
        <button class="block__oneInnerButton">Связаться с нами</button>
    </div>
</section>
