<section id="block_contacts" class="section block block__contacts">
    <!-- <div class="wrapper wrapper__block"> -->
        <h2 class="block__contactsHeading">Контакты</h2>
        <span style="display: none" itemprop="name">VARDOGOLD</span>
        <div class="block__contactsText">
            <p class="block__contactsAddress" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="postalCode">350016</span>
                г. <span itemprop="addressLocality">Краснодар</span>,
                ул. <span itemprop="streetAddress">Московская, 152</span>
                офис 88
            </p>
            <p class="block__contactsPhone">
                <a href="tel:+79284055999" itemprop="telephone">+7(928)405-59-99</a>
                (Работаем по записи)
            </p>
            <p class="block__contactsEmail" itemprop="email">vardogold@yandex.ru</p>
        </div>
        <div class="block__contactsMap">
            {{> map }}
        </div>
        <div class="block__contactsSocials">
            <a href="#" class="block__contactsSocialsIcon block__contactsSocialsIcon--vk"></a>
            <a href="#" class="block__contactsSocialsIcon block__contactsSocialsIcon--youtube"></a>
            <a href="#" class="block__contactsSocialsIcon block__contactsSocialsIcon--facebook"></a>
            <a href="#" class="block__contactsSocialsIcon block__contactsSocialsIcon--instagram"></a>
        </div>
    <!-- </div> -->
</section>
