<section id="block_four" class="section block block__four">
    <div class="block__fourInner">
        <h2 class="block__fourInnerHeading">Ломбард</h2>
        <p class="block__fourInnerDescription">Ювелир с помощью современного оборудования максимально быстро произведут квалифицированную экспертизу и оценку металла, что позволит вам принять решение и сдать золото в скупку дорого.  </p>
    </div>
    <div class="block__fourSlider swiper-container">
        <h4 class="block__fourSliderHeading">Факторы влияющие на оценку украшения</h4>
        <div class="block__fourSlideItem swiper-wrapper">
            <div class="block__fourSlideItemTable swiper-slide">
                <li>Оригинал</li>
                <li>Сертификат</li>
            </div>
            <div class="block__fourSlideItemTable swiper-slide">
                <li>Мировой бренд</li>
                <li>Вставка из драгоценных камней</li>
            </div>
            <div class="block__fourSlideItemTable swiper-slide">
                <li>Состояние</li>
                <li>Документ, подтверждающий покупку</li>
            </div>
        </div>
        {{> arrows}}
    </div>
    <div class="block__fourFeauters">
        <div class="block__fourFeauteItem block__fourFeauteItem--One">
            <div class="block__fourFeatureIcon"></div>
            <div class="block__fourFeauteItemInformation">
                <h3 class="block__fourFeatureHeading">Тариф Ломбарда</h3>
                <p class="block__fourFeatureDescription">Простые условия <span>0,3%</span><br> в день на весь срок золота и льготный период</p>
            </div>
        </div>

        <div class="block__fourFeauteItem block__fourFeauteItem--Two">
            <div class="block__fourFeatureIcon"></div>
            <div class="block__fourFeauteItemInformation">
                <h3 class="block__fourFeatureHeading">Сертификаты качества</h3>
                <p class="block__fourFeatureDescription">Простые условия <span>0,3%</span><br> в день на весь срок золота и льготный период</p>
            </div>
        </div>
    </div>
</section>