<main id="block_five" class="section block block__five">
    <section class="block__fiveSectionOne">
        <h2 class="block__fiveSectionHeading">Драгоценные металлы</h2>
        <p class="block__fiveSectionText">Для организации. Наша продукция используется при реставрации крупнейших памятников культурно-исторического наследия.</p>
    </section>
    <section class="block__fiveSectionTwo">
        <h2 class="block__fiveSectionHeading">Авторские</h2>
        <p class="block__fiveSectionText">Для организации. Наша продукция используется при реставрации крупнейших памятников культурно-исторического наследия.</p>
    </section>
    <section class="block__fiveSectionThree">
        <h2 class="block__fiveSectionHeading">Православные</h2>
        <p class="block__fiveSectionText">Для организации. Наша продукция используется при реставрации крупнейших памятников культурно-исторического наследия.</p>
    </section>
    <section class="block__fiveSectionFour">
        <h2 class="block__fiveSectionHeading">Аукцион. Ломбард</h2>
        <p class="block__fiveSectionText">Для организации. Наша продукция используется при реставрации крупнейших памятников культурно-исторического наследия.</p>
    </section>
</main>