<div class="menu__navMobile">
    <nav class="menu__navMobileWrapper">
        {{> menu_List}}
    </nav>
    <a class="menu__phone" href="tel:+792840555999">+7(928)40-55-999</a>
    <hr class="menu__navMobileHr">
    <p class="menu__navMobileAddress">350016 г. Краснодар, ул. Московская 152 офис 88
    </p>
    <a href="mailto:vardogold@yandex.ru" class="menu__navMobileEmail">vardogold@yandex.ru</a>
    <div class="block__contactsSocials">
        <a href="#" class="block__contactsSocialsIcon block__contactsSocialsIcon--vk"></a>
        <a href="#" class="block__contactsSocialsIcon block__contactsSocialsIcon--youtube"></a>
        <a href="#" class="block__contactsSocialsIcon block__contactsSocialsIcon--facebook"></a>
        <a href="#" class="block__contactsSocialsIcon block__contactsSocialsIcon--instagram"></a>
    </div>
</div>